html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: bold;
  font-family: PT Sans;
  text-transform: uppercase;
}


.subtitle {
  color: #000000;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-header {

}

.main-navigation{
  width: 1200px;
  min-height: 56px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.main-navigation ul{
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  padding: 15px 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.menu-point{
  width: 105px;
  min-height: 26px;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}


.first{
  margin-left: 71px;
  margin-right: 148px
}

.second{
  margin-right: 389px;
}

.third{
  margin-right: 164px;
}

.top-logo {
  position: absolute;
  width: 138px;
  min-height: 70px;
  right: 531px;
  top: 0x;
  z-index: 10;
}

.main-images {
  width: 1200px;
  min-height: 508px;
  background: url(../img/index-main.jpg);
  position: relative;
}

.main-images .white-mask {
  width: 1200px;
  min-height: 57px;
  background-image: url(../img/index-2.png);
  position: absolute;
  bottom: 0;
}

.main-title {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 1200px;
  min-height: 216px;
  padding-top: 60px;
  box-sizing: border-box;
}

.main-title-1 {
  width: 605px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.main-title-2 {
  width: 500px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.adventures-1  {
  display: flex;
  flex-shrink: 0;
  width: 1200px;
  min-height: 256px;
  box-sizing: border-box;
}

.adventures-discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.label-adventures {
  width: 305px;
  margin: 0px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}

.number-adventures {
  position:relative;
  width: 64px;
  margin: 0px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}

.number-adventures::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background: #bcd6e7;
  top: 26px;
  left: 8px;
}

.number-adventures::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background: #bcd6e7;
  top: 26px;
  left: 49px;
}

.black::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background: #979797; /*цвет мне только не нравится*/
  top: 26px;
  left: 8px;
}

.black::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background: #979797; /*цвет мне только не нравится*/
  top: 26px;
  left: 49px;
}

.text-adventures {
  width: 310px;
  margin: 0px;
  padding-top: 21px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}

.adventures-image-1 {
  width:800px;
  min-height: 255px;
  background-image: url(../img/view-11.jpg);
}

.features {
  display: flex;
  width: 1200px;
  min-height: 330px;
  background: #ffffff;
  box-sizing: border-box;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  min-height: 330px;
  padding-top: 132px;
  box-sizing: border-box;

}

.features-img {
  position: absolute;
  width: 75px;
  min-height: 76px;
  top: 62px;
}

.building {
  background: #ffffff url(../img/building.png) no-repeat;
}

.burger {
  background: #ffffff url(../img/burger.png) no-repeat;
}

.gift {
  background: #ffffff url(../img/gift.png) no-repeat;
  top: 55px;
  right: 155px;
}

.subtitle {
    width: 305px;
    margin: 0px;
    padding-top: 30px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
}

.features-motto {
  width: 305px;
  margin: 0px;
  padding-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
}

.adventures-2  {
  display: flex;
  flex-shrink: 0;
  width: 1200px;
  min-height: 256px;
  box-sizing: border-box;
}

.adventures-image-2 {
  width:800px;
  min-height: 256px;
  background-image: url(../img/view-22.jpg);/* НЕ ОТОБРАЖАЕТСЯ КАРТИНККИ =(  )*/
}

.adveture-block {
  display: flex;
  width: 1200px;
  min-height: 256px;
  box-sizing: border-box;
}

.grey {
    background: #eeeeee;
}

.black {
  color: #000000;
}

.question {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  width: 1200px;
  min-height: 291px;
  box-sizing: border-box;
}

.question-headline {
  width: 475px;
  margin-top: 55px;
  margin-bottom: 12px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.question-description {
  width: 475px;
  margin-bottom: 46px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  box-sizing: border-box;
}

.form-title {
  width: 567px;
  min-height: 86px;
  padding-top: 30px;
  padding-left: 140px;
  background-color: #766357;
  box-sizing: border-box;
}

.form-title p {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}

.form-and-map {
  width: 1200px;
  min-height: 473px;
  padding-left: 316px;
  background-image: url(../img/map.jpg);
  box-sizing: border-box;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 567px;
  min-height: 395px;
  background-color: #ffffff;
  z-index: 5;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  min-height: 38px;
  margin-top: 54px;
  padding-left: 4px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  box-sizing: border-box;
}

.row:nth-child(2) {
  margin-top: 30px;
}

.row:nth-child(3) {
  margin-top: 30px;
}

input[type="text"] {
  display: block;
  width: 346px;
  min-height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 12px;
  box-sizing: border-box;
}

input[type="number"] {
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

input[type="number"]::before {
  position: absolute;
  content: "";
  background-image: url(../img/minus.png);
  top: 0;
  left: 0; /* Не получается кнопки нормально розместить с псевдоэлементами */
}

input[type="submit"] {
  width: 458px;
  min-height: 58px;
  margin-top: 48px;
  border: none;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;

}
.btn {
  width: 38px;
  min-height: 38px;
  margin-left: 16px;
  font-size: 0;

  box-sizing: border-box;
}



.main-footer-flex {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: #faf7f0;
  width: 1200px;
  min-height: 120px;
}

.footer-teg {
  width: 140px;
  margin-left: 133px;
  margin-right: 249px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;


}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 215px;
  margin-right: 166px;
  font-size: 0;
}

.social-btn {
  display: block;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  background-color: #81b3d2;
  box-sizing: border-box;

}

.footer-copyright {
  width: 200px;
  margin-right: auto;
}
